<?xml version="1.0" encoding="utf-8"?>
<manifest package="info.krushik.android.myapplication5"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity2SimpleAdapter">
        </activity>
        <activity android:name=".Activity3NotSoSA">
        </activity>
        <activity android:name=".Activity4TreeString">
        </activity>
        <activity android:name=".Activity5ArrayAdapter">
        </activity>
        <activity android:name=".Activity6StudentAA">
        </activity>
        <activity android:name=".Activity7CustomAA">
        </activity>
        <activity android:name=".Activity8CustomAAClick">
        </activity>
        <activity android:name=".Activity9CustomAADelete">
        </activity>
        <activity android:name=".Activity10SingleSelect">
        </activity>
        <activity android:name=".Activity11MultiSelect">
        </activity>
        <activity android:name=".Activity12SimpleSpinner">
        </activity>
        <activity android:name=".Activity13CastomAASingeChois">
        </activity>
    </application>

</manifest>